.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
